<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyFoodMap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:sqlserver://192.168.3.153:1433;database=MyFoodMap</param-value>
  </context-param>
  <context-param>
    <param-name>login_y</param-name>
    <param-value>none</param-value>
  </context-param>
  <context-param>
    <param-name>login_n</param-name>
    <param-value>inline</param-value>
  </context-param>
  <listener>
    <listener-class>myfoodmap.vicki.Start</listener-class>
  </listener>
  <listener>
    <listener-class>myfoodmap.vicki.AboutSession</listener-class>
  </listener>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>newMFM</servlet-name>
    <servlet-class>myfoodmap.lpw.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newMFM</servlet-name>
    <url-pattern>/gotoMFM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RankVote</display-name>
    <servlet-name>RankVote</servlet-name>
    <servlet-class>myfoodmap.lpw.RankVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankVote</servlet-name>
    <url-pattern>/RankVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validateout.do</display-name>
    <servlet-name>Validateout.do</servlet-name>
    <servlet-class>myfoodmap.vicki.Perlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validateout.do</servlet-name>
    <url-pattern>/Validateout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate.do</display-name>
    <servlet-name>Validate.do</servlet-name>
    <servlet-class>myfoodmap.vicki.Perlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate.do</servlet-name>
    <url-pattern>/Validate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serch</display-name>
    <servlet-name>serch</servlet-name>
    <servlet-class>myfoodmap.serach.serch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serch</servlet-name>
    <url-pattern>/serch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxserch</display-name>
    <servlet-name>ajaxserch</servlet-name>
    <servlet-class>myfoodmap.serach.ajaxserch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxserch</servlet-name>
    <url-pattern>/ajaxserch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validatere.do</display-name>
    <servlet-name>Validatere.do</servlet-name>
    <servlet-class>myfoodmap.vicki.Perrevise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validatere.do</servlet-name>
    <url-pattern>/Validatere.do</url-pattern>
  </servlet-mapping> 
</web-app>